@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

#app > .content-wrap {
  flex: 1;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    width: 100%;
  }
}
